@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@import "tailwindcss";

:root {
  --theme-color-text: #d9d9d9;
  --theme-color-background: #111315;
  --theme-color-background-shade: #0a0b0c;
  --theme-color-background-tint: #1a1e21;
  --theme-color-accent: #ff9500;
  --theme-font: "Rubik", serif;
}

html {
  scrollbar-width: none;
}

body {
  font-family: var(--theme-font);
  background-color: var(--theme-color-background);
  color: var(--theme-color-text);
}
